{% extends "layouts/base.njk" %}

{% block content %}
<article>
  <time datetime="{{ date | date }}">{{ date | date }}</time>
  <h1>{{ title }}</h1>
  <div class="content">
    {{ content | safe }}
  </div>
</article>
{% endblock %}