{% extends "layouts/base.njk" %}

{% block content %}
<article>
  <div class="page-header">
    <h1>{{ title }}</h1>
    <span></span>
    <time datetime="{{ date | date }}">{{ date | date }}</time>
  </div>
  <div>
    {{ content | safe }}
  </div>
</article>
{% endblock %}