---
title: "402 - On Data Completeness and Verification"
layout: essay.njk
date: "2025-11-20"
description: "From Immigration to Dating platforms, for security, privacy, and certainty."
---

The problem of Data Completeness and Verification runs the entire spectrum of processes, with critical importance to everything from government processes like Immigration, to commercial processes like Analytics, and even to consumer processes like Dating platforms.

Some ground-truth data is required for a process, and that data must be consistent across many such processes, as well as more broadly verifiable. This requires baseline data-level interoperability between systems, departments, and organizations.

This data, once verified, may be used for purposes such as filtering, ranking, or sequential ordering. These functions are necessary to many processes, and most processes benefit strongly from some application of such functions, even when they aren’t strictly required.

Some or all of the verified data may also strongly benefit from security and privacy, such as Personally Identifiable Information (PII), which is usually critical for effective verification. When this information has to be entered manually and/or repeatedly by the individuals themselves, this introduces countless (and pointless) Cybersecurity vulnerabilities, as well as the unnecessary possibility of user error, and all of the added uncertainties that come with both problems.

The status quo across the entire spectrum of where these processes are found today is an absolute joke. For example:

Immigration processes have countless (and entirely redundant) forms, producing massive increases in data insecurity, degrading trust in those processes and institutions, and wasting the maximum amount of time for each person, with all of the added uncertainty that comes with those problems. The only part of such processes that couldn’t be automated is equivalent to a single question asking “Do you want to visit/move to/etc. This country?”, and probably a payment option to follow. Virtually every other step can and should be fully automated.

Dating platforms and other social and consumer-oriented platforms could benefit in the same ways. For example:

These platforms as they exist today have virtually no verification of information, both that which becomes visible to others, and that which is systematically hidden. Dating platforms in particular are one example of a place where people often intentionally provide the wrong data, or intentionally omit certain critical data points. Giving the wrong age, omitting children, or misleading other common influential points that others use to filter, rank, and order their own preferences. The pervasive nature of this problem leads such platforms to hold non-existent levels of trust. Even the simple question of “Did this other person, at any point in their life, have a penis?” is one that such platforms simply can’t answer, even though many users assign quite a bit of importance to the answer.

In both examples, data and processes can be made more secure, private, and verifiable, while massively improving UX, efficacy, and efficiency.
