---
permalink: /rss.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <generator uri="https://www.11ty.dev/" version="2.0.0">Eleventy</generator>
  <link href="https://kyrtinatreides.com/rss.xml" rel="self" type="application/atom+xml"/>
  <link href="https://kyrtinatreides.com/" rel="alternate" type="text/html"/>
  <updated>{{ collections.essays[0].date | dateToRfc3339 }}</updated>
  <id>https://kyrtinatreides.com/rss.xml</id>
  <title type="html">Kyrtin Atreides</title>
  <subtitle>Edge perspectives on AI, tech, and society</subtitle>
  <author>
    <name>Kyrtin Atreides</name>
  </author>
  {%- for essay in collections.essays %}
  <entry>
    <title type="html">{{ essay.data.title | escape }}</title>
    <link href="{{ essay.url | absoluteUrl('https://kyrtinatreides.com') }}" rel="alternate" type="text/html" title="{{ essay.data.title | escape }}"/>
    <published>{{ essay | adjustedTimestamp(collections.essays) | dateToRfc3339 }}</published>
    <updated>{{ essay | adjustedTimestamp(collections.essays) | dateToRfc3339 }}</updated>
    <id>{{ essay.url | absoluteUrl('https://kyrtinatreides.com') }}</id>
    <content type="html" xml:base="{{ essay.url | absoluteUrl('https://kyrtinatreides.com') }}">
<![CDATA[{{ essay.content | rssContent | safe }}]]>
    </content>
  </entry>
  {%- endfor %}
</feed>